*{
    margin: 0px;
    font-family: Noto Sans;
}

body{
    background-color: #E7C3B1;
}

nav{
    text-align: center;
    background-color: #C36573;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: fixed
}

nav ul{
    padding: 0px;
    margin: 0px;
    background-color: #C36573;
}

nav ul li{
    padding: 10px;
    display: inline-block;
    background-color: #C76162;
    padding-top: 0px;
    margin-top: 0px;
    border: solid;
    border-radius: 10px;
    border-color: #E7C3B1;
    border-width: 2px;
    align-content: center;
    vertical-align: middle;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.bouton{
    font-size: 25px;
    transition: all .5s ease-in-out;
    border: solid;
    border-radius: 20px;
    border-color: pink;
}

footer{
    margin-bottom: 0px;
    padding: 20px;
    font-size: 16px;
    background-color: #C36573;  
    text-align: center;
}

footer p{
    color: white;
}
